body{
    /* background-image: url("https://image.freepik.com/free-vector/ethnic-people-african-tribes-traditional-clothing-nature-background_1308-50067.jpg"); */ 
    background-color: rgb(255, 123, 71);
    background-size: cover;
}
h1{
    text-align: center;
    text-decoration: underline 3px white;

}

/* .container-fluid{
    margin: 100px;
    border: 1px solid black;
    padding: 30px;
    width: 70%;
    background-color: aqua;
} */
.Form{
    padding-left: 200px;
    line-height: 30px;
    background-color: skyblue;
    border: 2px solid black;
    border-radius: 70px 70px 70px 70px;
}
#output{
    color: sienna;
    height: 80px;
    width: 200px;
    margin-top: 200px;
    font-size: larger;
}
.Myname{
    display: flex;
}
.row{
    margin: 20px;
    color: white;
    font-weight: bold;
}
input{
margin: 5px;
}
table{
    border: 1px solid black;
}
tr, td, th{
    border: 1px solid black;
    padding: 5px;
}
.footer{
    display: flex;
    background-color: skyblue;
    justify-content: space-around;
    margin: 20px;
    font-weight: bold;
}